@mixin fonts($font-family, $srcWoff, $fw, $fd, $fs) {
  @font-face {
    font-family: $font-family;
    src: $srcWoff;
    font-weight: $fw;
    font-display: $fd;
    font-style: $fs;
  }
}

@include fonts('Inter', url(../fonts/Inter-Light.ttf), 300, swap, normal); // Light
@include fonts('Inter', url(../fonts/Inter-Regular.ttf), 400, swap, normal); // Regular
@include fonts('Inter', url(../fonts/Inter-Medium.ttf), 500, swap, normal); // Medium
@include fonts('Inter', url(../fonts/Inter-Bold.ttf), 700, swap, normal); // Bold
@include fonts('Inter', url(../fonts/Inter-ExtraBold.ttf), 800, swap, normal); // ExtraBold

body {
  font-family: 'Inter';
}