@mixin fonts($font-family, $srcWoff, $fw, $fd, $fs) {
  @font-face {
    font-family: $font-family;
    src: $srcWoff;
    font-weight: $fw;
    font-display: $fd;
    font-style: $fs;
  }
}

@include fonts('Montserrat', url(../fonts/Montserrat-Regular.ttf), 400, swap, normal); // Regular
@include fonts('Montserrat', url(../fonts/Montserrat-Medium.ttf), 500, swap, normal); // Medium
@include fonts('Montserrat', url(../fonts/Montserrat-SemiBold.ttf), 700, swap, normal); // Bold
@include fonts('Montserrat', url(../fonts/Montserrat-ExtraBold.ttf), 800, swap, normal); // ExtraBold
@include fonts('Montserrat', url(../fonts/Montserrat-Black.ttf), 800, swap, normal);

body {
  font-family: 'Montserrat';
}