%buttonLight {
    padding: 12px 50px 12px 20px;
    background-color: transparent;
    border-color: rgba(6, 0, 43, 1);
    border-radius: 5px;
    text-transform: uppercase;
}

.test { // Или можно шаблон задать, как обычный класс
    font-size: 50px;
}